In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

import tensorflow as tf
print(tf.__version__)

2.13.0

In [2]:
dataset = pd.read_csv('data_obrobiona/calosc.csv')
dataset

        dzien_tygodnia      czas  przeplyw
0                    4  0.000099       252
1                    4  0.000198        78
2                    4  0.000297       253
3                    4  0.000396       192
4                    4  0.000495         8
...                ...       ...       ...
369504               2  0.999808       213
369505               2  0.999856       253
369506               2  0.999904       186
369507               2  0.999952         8
369508               2  1.000000       187

[369509 rows x 3 columns]

In [3]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index)
x_train=train_dataset.drop(columns="przeplyw");
x_test=test_dataset.drop(columns="przeplyw");
y_train=train_dataset.przeplyw;
y_test=test_dataset.przeplyw;

In [4]:
model = tf.keras.models.Sequential([
      # tf.keras.layers.Flatten(input_shape=[2,]),
      tf.keras.layers.Dense(128, activation='relu', input_shape=(2,)),
      tf.keras.layers.Dense(64, activation='relu'),
      tf.keras.layers.Dense(32, activation='relu'),
      tf.keras.layers.Dense(1,activation='linear') 
])

model.compile(optimizer=tf.optimizers.Adam(learning_rate=0.01),
              loss="mse",
              metrics=['mae'])

In [5]:
model.fit(x_train, y_train, epochs=20)

Epoch 1/20
9238/9238 [==============================] - 6s 656us/step - loss: 5549.0356 - mae: 64.2753
Epoch 2/20
9238/9238 [==============================] - 6s 656us/step - loss: 5481.3525 - mae: 64.0239
Epoch 3/20
9238/9238 [==============================] - 6s 656us/step - loss: 5461.2227 - mae: 63.9454
Epoch 4/20
9238/9238 [==============================] - 6s 643us/step - loss: 5457.0962 - mae: 63.9290
Epoch 5/20
9238/9238 [==============================] - 6s 659us/step - loss: 5458.3145 - mae: 63.9353
Epoch 6/20
9238/9238 [==============================] - 6s 655us/step - loss: 5457.5884 - mae: 63.9251
Epoch 7/20
9238/9238 [==============================] - 6s 653us/step - loss: 5457.3154 - mae: 63.9253
Epoch 8/20
9238/9238 [==============================] - 6s 655us/step - loss: 5457.4609 - mae: 63.9345
Epoch 9/20
9238/9238 [==============================] - 6s 662us/step - loss: 5456.8174 - mae: 63.9298
Epoch 10/20
9238/9238 [==============================] - 6s 684us/step - loss: 5456.0576 - mae: 63.9222
Epoch 11/20
9238/9238 [==============================] - 6s 655us/step - loss: 5454.0649 - mae: 63.9093
Epoch 12/20
9238/9238 [==============================] - 6s 654us/step - loss: 5455.0264 - mae: 63.9130
Epoch 13/20
9238/9238 [==============================] - 6s 653us/step - loss: 5454.7280 - mae: 63.9164
Epoch 14/20
9238/9238 [==============================] - 6s 664us/step - loss: 5453.6929 - mae: 63.9095
Epoch 15/20
9238/9238 [==============================] - 6s 647us/step - loss: 5453.8994 - mae: 63.9154
Epoch 16/20
9238/9238 [==============================] - 6s 646us/step - loss: 5452.5332 - mae: 63.9058
Epoch 17/20
9238/9238 [==============================] - 6s 650us/step - loss: 5452.7173 - mae: 63.9023
Epoch 18/20
9238/9238 [==============================] - 6s 645us/step - loss: 5451.4097 - mae: 63.8973
Epoch 19/20
9238/9238 [==============================] - 6s 641us/step - loss: 5453.1108 - mae: 63.9128
Epoch 20/20
9238/9238 [==============================] - 6s 650us/step - loss: 5451.7544 - mae: 63.9036

In [6]:
model.evaluate(x_test,  y_test, verbose=2)

2310/2310 - 1s - loss: 5492.3936 - mae: 64.1770 - 1s/epoch - 489us/step

[5492.3935546875, 64.177001953125]